<div class="card shadow-lg p-3 m-2">
    <h3>{{Property.Name}}</h3>
    <div class="card-img-container">
        <img *ngIf="Property.Image" src="{{Property.Image}}" alt="Property Image" class="img-thumbnail-sm" />
        <img *ngIf="!Property.Image" src="assets/default-house.jpg" alt="Property Image" class="img-thumbnail-sm" />
        <div>
            <ul class="list-inline text-center member-icons">
                <li class="list-inline-item">
                    <button class="btn btn-primary btn-sm bg-dark" routerLink="/property-detail/{{Property.Id}}">View</button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-primary btn-sm bg-dark">Call</button>
                </li>
            </ul>
        </div>
    </div>
    <p><strong>Type: </strong>{{Property.Type}}</p>
    <p><strong>Address: </strong>{{Property.Address}}</p>
    <p><strong>Bedrooms: </strong>{{Property.Bedrooms}}</p>
    <p><strong>Bathrooms: </strong>{{Property.Bathrooms}}</p>
    <p><strong>Price: </strong>${{Property.Price}}</p>
</div>